chromadb
Cython
datasets
email_validator
firebase_admin
genapi
google_api_python_client
google_auth_oauthlib
googlemaps
gptcache
matplotlib
metal_sdk
mtrand
mwparserfromhell
mwxml
networkx
nltk
pdf2image
pdfminer
pickle
Pillow
pinecone_text
pipeline
pygpt4all
PyInstaller
pymilvus
pyOpenSSL
pyowm
pypandoc
pypdf
PyPDF
pyspark
pysqlcipher
pysrt
pytesseract
pytest
python_magic
pytube
pytz
reportlab
scikit_learn
scipy
spacy
tensorflow
tensorflow_text
textstat
tiktoken
tokenizers
tokio
torch
transformers
urllib3_secure_extra
uvloop
wandb
wolframalpha
langchain_experimental
langchainlangchain
